#### Analyzing a microbiome

In [4]:
from pandas import read_csv
from seaborn import clustermap
from os import listdir
from IPython.display import HTML

In [5]:
print("Files in the working directory:",listdir())

Files in the working directory: ['.git', '.idea', '.ipynb_checkpoints', '.vs', 'Microbiome Analysis - basics.ipynb', 'PythonProblems1.ipynb', 'README.md', 'scenario1_otus_pandas.txt', 'show_F.py', '__pycache__']

In [10]:
# note that \t is a special character indicating a tab
#sep stands for 'separator'
#csv stands for 'comma-separated values' - a text version of an excel file
feature_table = read_csv('scenario1_otus_pandas.txt',sep="\t")
HTML(feature_table.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>OTU_ID</th>
      <th>patient1</th>
      <th>patient2</th>
      <th>patient3</th>
      <th>patient4</th>
      <th>patient5</th>
      <th>patient6</th>
      <th>patient7</th>
      <th>patient8</th>
      <th>patient9</th>
      <th>patient10</th>
      <th>patient11</th>
      <th>patient12</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>OTU1</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>OTU2</td>
      <td>4</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>OTU3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>OTU4</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>OTU5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
  </tbody>
</table>

In [11]:

feature_table = feature_table.set_index('OTU_ID')
clustermap(feature_table)

In [12]:
clustermap(feature_table.transpose())